<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/js/barchart.js"></script>
        <script src="/js/gauge.js"></script>
        
        <script>
            /*<![CDATA[*/
            // WebSocketHandling
            
            var highBayRackGauge;
            var pcbTrayGauge;
            
           // var ws = new WebSocket("ws://localhost:28862/ws");
            var url = window.location + "ws";
            var ws = new WebSocket(url.replace('http', 'ws'));
            ws.onopen = function()
            {
                ws.send("Connection opened!");
            }
            ws.onmessage = function(m)
            {
                var parsedJson = JSON.parse(m.data);
                
                // Check if object is array
                if(parsedJson instanceof Array)
                {
                    for(var i=0; i < parsedJson.length; i++)
                    {
                        var obj = parsedJson[i];
                        if(obj.bufPos != undefined && obj.pNo != undefined)
                        {   
                            addHighbayRackItem(obj);
                        }
                        else if(obj.boxPos != undefined && obj.oNo != undefined)
                        {
                            addPcbTrayItem(obj);
                        }
                        else if(obj.oNo != undefined)
                        {
                            addManufacturingItem(obj);
                        }
                    }   
                }
                else
                {
                    if(parsedJson.identifier != undefined)
                    {
                        robotIsHome(parsedJson.value);
                    }
                    else if(parsedJson.bufPos != undefined && parsedJson.pNo != undefined)
                    {
                        addHighbayRackItem(parsedJson);
                    }
                    else if(parsedJson.bufPos != undefined && parsedJson.oNo != undefined)
                    {
                        addPcbTrayItem(parsedJson);
                    }
                    else if(obj.oNo != undefined)
                    {
                        addManufacturingItem(parsedJson);
                    }
                }
                
                updateHighBayRackItemsCount();
                updatePcbTrayItemsCount();
            }
            
            function updateHighBayRackItemsCount()
            {
                var highBayRackTable = document.getElementById("highBayRackTable");
                var counter = 0;
                for(var i = 0; i < highBayRackTable.rows.length; i++)
                {
                    var highBayRackItem = highBayRackTable.rows[i];
                    if(highBayRackItem.cells[2].innerHTML != "nothing")
                    {
                        counter++;
                    }
                }
                updateHighBayRackGauge(counter);
            }
            
            function updatePcbTrayItemsCount()
            {
                var pcbTrayTable = document.getElementById("pcbTrayTable");
                var counter = 0;
                for(var i = 0; i < pcbTrayTable.rows.length; i++)
                {
                    var pcbTrayItem = pcbTrayTable.rows[i];
                    if(pcbTrayItem.cells[2].innerHTML != "nothing")
                    {
                        counter++;
                    }
                }
                updatePcbTrayGauge(counter);
            }
            
            function robotIsHome(boolVal)
            {
                var indicator = document.getElementById("test");
                if(boolVal != "true")
                {
                    indicator.style.color = "green";
                    indicator.innerHTML = "ROBOT IS WORKING: YES";
                }
                else
                {
                    indicator.style.color = "red";
                    indicator.innerHTML = "ROBOT IS WORKING: NO";
                }
            }
            
            function addPcbTrayItem(item)
            {
                var existingItem = document.getElementById("PcbTrayItem" + item.boxPos);
                if(existingItem != undefined)
                {
                    existingItem.innerHTML = '<td class="rowId">' + item.boxPos + '</td><td class="pNo">'
                    + item.pNo + '</td><td>' + item.description + '</td>';
                }
                else
                {
                    var container = document.getElementById("pcbTrayTable");
                    container.innerHTML += '<tr id="PcbTrayItem' + item.boxPos + '"><td class="rowId">' + item.boxPos + '</td><td class="pNo">'
                    + item.pNo + '</td><td>' + item.description + '</td></tr>';
                }
            }
            
            function addHighbayRackItem(item)
            {
                var existingItem = document.getElementById("HighBayRackItem" + item.bufPos);
                if(existingItem != undefined)
                {
                    existingItem.innerHTML = '<td class="rowId">' + item.bufPos + '</td><td class="pNo">'
                    + item.pNo + '</td><td>' + item.description + '</td>';
                }
                else
                {
                    var container = document.getElementById("highBayRackTable");
                    container.innerHTML += '<tr id="HighBayRackItem' + item.bufPos + '"><td class="rowId">' + item.bufPos + '</td><td class="pNo">' + item.pNo 
                    + '</td><td>' + item.description + '</td></tr>';
                }
            }
            
            function addManufacturingItem(item)
            {
                var existingItem = document.getElementById("ManufacturingItem" + item.oNo);
                if(existingItem != undefined)
                {
                    existingItem.innerHTML = '<td class="rowId">' + item.pNo + '</td><td class="pNo">'
                    + item.pNo + '</td><td>' + item.state + '</td><td>' + item.description + '</td>';
                }
                else
                {
                    var container = document.getElementById("manuFacturingOrderTable");
                    container.innerHTML += '<tr id="ManufacturingItem' + item.oNo + '"><td class="rowId">' + item.oNo + '</td><td class="pNo">' + item.pNo
                    + '</td><td>' + item.state + '</td><td>' + item.description + '</td></tr>';
                }
            }
            
            window.onload = function()
            {
                document.getElementById("overlay").style.height = "100%";
                document.getElementById("overlay").style.opacity = 1;
                setTimeout(hide, 500);
                
                updateHighBayRackGauge();
                updatePcbTrayGauge();
            };
            
            function hide()
            {
                document.getElementById("overlay").style.opacity = 0;
                document.getElementById("overlay").style.height = "0%";
            }
            
            function updateHighBayRackGauge(newValue)
            {
                if(highBayRackGauge == undefined)
                {
                    highBayRackGauge = new Gauge({ containerId: "HighBayRackGauge", minValue : 0, maxValue : 32, color : "#8bfc83", useDecimals : false });
                }
                highBayRackGauge.update(newValue);
            }
            
            function updatePcbTrayGauge(newValue)
            {
                if(pcbTrayGauge == undefined)
                {
                    pcbTrayGauge = new Gauge({containerId : "PcbTrayGauge", minValue : 0, maxValue : 12, color : "#ffcb5b", useDecimals : false });
                }
                pcbTrayGauge.update(newValue);
            }
            
            /*]]>*/
        </script>
        
    </head>
    <body>
        <div class="container-full">
            <div class="row">
                <div class="col-sm-4 page-section">
                    <div class="left-section">
                        <div class="section-part">
                            <div class="section-header">
                                <p>HIGHBAYRACK</p>
                            </div>
                            <table>
                                <td class="rowId">BufPos</td>
                                <td class="pNo">PNo</td>
                                <td>Description</td>
                            </table>
                            <div class="item-list">
                                <table id="highBayRackTable">
                                </table>
                            </div>
                            
                            
                        </div>
                        <div class="section-part-secondary">
                            <div class="section-header">
                                <p>PCBTRAY</p>
                            </div>
                            <table>
                                <td class="rowId">BoxPos</td>
                                <td class="pNo">pNo</td>
                                <td>Description</td>
                            </table>
                            <div class="item-list">
                                <table id="pcbTrayTable">
                                    
                                </table>
                            </div>
                        </div>
                        <div class="section-part-secondary">
                            <div class="section-header">
                                <p>MANUFACTURING ORDERS</p>
                            </div>
                            <table>
                                <td class="rowId">ONo</td>
                                <td class="pNo">PNo</td>
                                <td>State</td>
                                <td>Description</td>
                            </table>
                            <div class="item-list">
                                <table id="manuFacturingOrderTable">
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 page-section">
                    <div class="right-section">
                        <div class="section-header">
                                <p>STATUS</p>
                            </div>
                        <div class="row secondary-grid-row">
                            <div class="col-sm-6 status-column">
                                <div id="HighBayRackGauge" style="height: 80%; width: 100%;"></div>
                                <p>HIGHBAYRACK ITEM STATUS</p>
                            </div>
                            <div class="col-sm-6 status-column">
                                <div id="PcbTrayGauge" style="height: 80%; width: 100%;"></div>
                                <p>PCBTRAY ITEM STATUS</p>
                            </div>
                        </div>
                        
                        <!-- THIS IS FOR TESTING! -->
                        <h1 id="test" style="color: white;">ROBOT IS WORKING: UNDEFINED</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="overlay">
            <div id="overlaycontent">
                <div id="spinner"></div>
                <p id="spinner-text">LOADING CONTENT</p>
            </div>
        </div>
    </body>
</html>